# ✅ Wajib untuk fetch API
NEXT_PUBLIC_BASE_URL=

# Recommended for most uses
DATABASE_URL=

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=

# Parameters for constructing your own connection string
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
POSTGRES_URL_NO_SSL=
POSTGRES_PRISMA_URL=

# Neon Auth environment variables for Next.js
NEXT_PUBLIC_STACK_PROJECT_ID=c99be497-9a59-4466-88f1-d639609e35e7
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_y7nbp56sv3ahh0zgj4n9zr8adktcv7qrczgszdyag66gr
STACK_SECRET_SERVER_KEY=ssk_bfyrjjwcj809gaqfmje5m4gzhkddjhfdhk3c42sfa28a0

# DATABASE_URL="postgresql://<user>:<password>@<host>/<db>?sslmode=require"
NEXTAUTH_SECRET=irFu0AN5IhuDosXiq8PxN+j8YVpMyg4XT7yjK+cYWjw=
NEXTAUTH_URL=http://localhost:3000
EMAIL_SERVER=smtp://agunghutri@gmail.com:nikoycnrzueoaydq@smtp.gmail.com:587
EMAIL_FROM="Admin Klinik Full Senyum <agunghutri@gmail.com>"

EMAIL_USER=agunghutri@gmail.com
EMAIL_PASS=nikoycnrzueoaydq